@font-face {
   font-family: 'Mummy';
   src: url(./fonts/Gloomy\ Mummy.ttf);
}
@font-face {
   font-family: 'Italiano';
   src: url(./fonts/Itali___.ttf);
}
@font-face {
   font-family: 'Rondalo';
   src: url(./fonts/RONDALO_.TTF);
}
/* 
General styles
*/
:root {
   --fz-main-title: 3rem;
   --fz-subtitles: 2rem;
   --fz-content: 1.35rem;

   --main-color: 0 0% 100%;
   --main-color-dark-100: 0 0% 30%;
   --main-color-dark-200: 0 0% 20%;
   --main-color-dark-300: 0 0% 5%;
   --main-color-dark-400: 0 0% 0%;
   --color-accent: 36 100% 60%;
   --accent-subcolor: 24 100% 60%;

   --main-spacing: 0.5em;
   --slider-padding: 3rem;
   --border-radius-main: 1rem;

   --items-per-screen: 4;
}
body,
html {
   min-height: 100vh;
   width: 100%;
   font-family: 'Rondalo', cursive;
   color: hsl(var(--main-color));
   scroll-behavior: smooth;
}
html.behavior-instant {
   scroll-behavior: auto;
}
body {
   font-size: clamp(1rem, 10vw, 5rem);
   font-size: var(--fz-content);
}
h1,
h2 {
   font-family: 'Mummy', serif;
}
h3,
h4,
h5,
h6 {
   font-family: 'Rondalo', cursive;
}
.wrapper {
   width: min(80%, 100rem);
   margin: 0 auto;
   height: 100%;
   position: relative;
}
.section-title {
   font-size: var(--fz-subtitles);
   text-transform: uppercase;
   margin-bottom: 2rem;
}
.c-gradient {
   background-image: linear-gradient(
      45deg,
      hsl(var(--color-accent)),
      hsl(var(--accent-subcolor)) 30%
   );
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}
.c-accent {
   color: hsl(var(--color-accent));
}
.c-subaccent {
   color: hsl(var(--accent-subcolor));
}
.bg-gradient {
   background-image: linear-gradient(45deg, hsl(var(--color-accent)), hsl(var(--accent-subcolor)));
}
.bg-accent {
   background-color: hsl(var(--color-accent));
}
section {
   background-color: hsl(var(--main-color-dark-400));
}
section:not(:last-of-type) {
   padding-top: 2rem;
   padding-bottom: 8rem;
}
.btn {
   padding: 0.25em 1.5em;
   border: none;
   border-radius: var(--border-radius-main);
   margin-bottom: 1rem;
   transition: 150ms ease-in-out;
   cursor: pointer;
   background-color: hsl(var(--main-color));
   font-family: 'Italiano', sans-serif;
}
.btn:hover,
.btn:focus-within {
   transform: scale(0.95);
   background-color: hsl(var(--color-accent));
}

/* 
Header section styles
*/
/* nav */
nav {
   width: 100%;
   background: hsl(var(--main-color-dark-400));
   padding: 0;
   position: relative;
   z-index: 20;
}
.nav-container {
   display: flex;
   gap: 2rem;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.logo {
   min-width: 10rem;
}
.nav-list {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4rem;
}
.nav-list > li:nth-child(1) {
   margin-left: auto;
}
.burger-menu,
.close-nav-btn {
   font-size: var(--fz-main-title);
   display: none;
   cursor: pointer;
}
.nav-list__links {
   text-decoration: none;
   color: hsl(var(--main-color));
   transition: all 0.2s ease;
}
.nav-list__links:hover,
.nav-list__links:focus {
   color: hsl(var(--color-accent));
   outline: hsl(var(--color-accent));
}

/* hero */
.hero {
   padding: 3rem 0;
   background: linear-gradient(
         45deg,
         hsl(var(--color-accent) / 0.8),
         hsl(var(--accent-subcolor) / 0.8)
      ),
      url(./image/heroBg.jpg);
   background-size: cover;
   position: relative;
   z-index: 2;
}
.hero-text {
   margin: 4rem 0;
   color: hsl(var(--main-color-dark-400));
   text-align: center;
}
.hero-text h1 {
   font-size: var(--fz-main-title);
}
.hero-slider {
   border-radius: var(--border-radius-main);
   width: 100%;
   min-height: max-content;
   display: flex;
   position: relative;
   overflow: hidden;
   color: hsl(var(--main-color));
}
.hero-slider-cards {
   display: flex;
   gap: var(--main-spacing);
   height: 100%;
   width: 100%;
   transition: all 1s ease;
}
.hero-slider-card {
   height: fit-content;
   padding: 1rem;
   background: hsl(var(--main-color-dark-400));
   border-radius: var(--border-radius-main);
   flex: 1 0 100%;
   display: grid;
   gap: var(--main-spacing);
   grid-template-columns: 1fr 1fr;
}
.promo-slide {
   text-align: center;
   grid-column: 1 / -1;
}
.hero-slider-card > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.hero-card-text > *:not(:last-child) {
   margin-bottom: var(--main-spacing);
}
.hero-card-link span {
   position: absolute;
   right: -30%;
}
/* 
main section styles
*/
/* about */
.about {
   color: hsl(var(--main-color));
   position: relative;
   background: url(./image/sectionAboutBg.jpg) no-repeat;
   background-size: cover;
}
.about::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: linear-gradient(
      to right,
      hsl(var(--main-color-dark-400) / 1) 40%,
      hsl(var(--main-color-dark-200) / 0) 100%
   );
   z-index: 1;
}
.about-text {
   max-width: 60ch;
   position: relative;
   z-index: 2;
}
.about-desc:not(:last-of-type) {
   margin-bottom: var(--main-spacing);
}
/* go up btn */
.go-up-btn-container {
   position: absolute;
   inset: 0;
   z-index: 3;
   pointer-events: all;
}
.go-up-btn {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   background-color: hsl(var(--color-accent));
   padding: 1rem;
   opacity: 0;
   transition: opacity 300ms ease-in-out;
   z-index: 60;
   transition: 300ms ease;
}
.go-up-btn.active {
   opacity: 1;
}
.go-up-btn:hover,
.go-up-btn:focus-within {
   background-color: hsl(var(--accent-subcolor));
}
/* modal */
.modal {
   position: fixed;
   overflow: hidden;
   background-image: linear-gradient(
      45deg,
      hsl(var(--color-accent) / 0.8),
      hsl(var(--accent-subcolor) / 0.8)
   );
   width: 100%;
   padding-block: var(--main-spacing);
   inset: 0;
   opacity: 0;
   transition: all 550ms ease-in-out;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   pointer-events: none;
}
.modal.visible {
   opacity: 1;
   pointer-events: all;
}
.modal.visible .modal-content {
   transform: scale(1);
}
.modal-content {
   max-width: 1500px;
   width: 60%;
   max-height: 100%;
   height: fit-content;
   padding: var(--main-spacing);

   background-color: hsl(var(--main-color-dark-400));
   transform: scale(0);
   transition: all 550ms ease-in-out;
   overflow-y: auto;
}
.modal-content-container {
   display: grid;
   grid-template-columns: 30% 70%;
   gap: var(--main-spacing);
   position: relative;
}
.modal-content-primary > img {
   width: 100%;
}
.tvRating {
   display: flex;
   align-items: flex-end;
   font-size: var(--fz-subtitles);
}
.rating-body {
   position: relative;
}
.rating-body::before {
   content: '★★★★★★★★★★';
   display: block;
}
.rating-active {
   position: absolute;
   width: 0;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
   color: hsl(var(--color-accent));
}
.rating-active::before {
   content: '★★★★★★★★★★';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.rating-value {
   padding-left: var(--main-spacing);
}
.modal-content-secondary {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.modal-content-third {
   grid-column: 1 / span 2;
   max-width: 45ch;
}
.cast-items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: var(--main-spacing);
   list-style: none;
}
.cast-item {
   flex: 0 0 25%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: var(--main-spacing);
}
.cast-item img {
   width: 6rem;
   height: 6rem;
   margin-bottom: var(--main-spacing);
   border-radius: 50%;
   object-fit: cover;
   object-position: top;
}
.cast-item h3,
.cast-item p {
   line-height: 1;
}
.modal-content-close-btn {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
}
.modal-close-icon {
   position: sticky;
   top: 0;
   z-index: 10;
   pointer-events: all;
   font-size: var(--fz-subtitles);
   cursor: pointer;
}
body.modal-opened {
   height: 100vh;
   overflow-y: hidden;
   padding-right: 17px;
}

/* scroller sections styles */
.scroller-section {
   width: 100%;
   height: 100%;
   position: relative;
}
.scroller-section-text {
   display: flex;
   justify-content: space-between;
   position: relative;
}
.scroller-progress-bar {
   font-size: var(--fz-subtitles);
   opacity: 0;
   transition: opacity 300ms ease-in-out;
}
.scroller-progress-bar.active {
   opacity: 1;
}
.scroller-container,
.filter-list-container {
   width: 100%;
   display: flex;
   justify-content: center;
   overflow: hidden;
}
.media-scroller {
   --slide-index: 0;
   width: calc(100% - 2 * var(--slider-padding));
   display: flex;
   flex-grow: 1;
   transform: translateX(calc(var(--slide-index) * -100%));
   transition: transform 300ms ease-in-out;
   margin-inline: var(--main-spacing);
}
.media-scroller .media-element {
   flex: 0 0 calc(100% / var(--items-per-screen));
   max-width: calc(100% / var(--items-per-screen));
   aspect-ratio: 3 / 4;
   padding-inline: var(--main-spacing);
   margin: 0;
   position: relative;
}
.media-element > img {
   width: 100%;
}
.media-scroller-arrow {
   width: var(--slider-padding);
   flex-grow: 0;
   /* flex-shrink: 0; */
   background-color: hsl(var(--color-accent) / 0.5);
   border: none;
   border-radius: 0.5rem;
   cursor: pointer;
   transition: 300ms ease-in-out;
   font-size: var(--fz-subtitles);
   padding: 0;
   z-index: 5;
}
.media-scroller-arrow.right {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}
.media-scroller-arrow.left {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.media-scroller-arrow:hover,
.media-scroller-arrow:focus {
   background-color: hsl(var(--accent-subcolor) / 0.7);
}
.media-scroller-arrow:disabled {
   background-color: hsl(var(--main-color-dark-200) / 0.5);
}
.media-scroller-arrow:disabled:hover {
   background-color: hsl(var(--main-color-dark-200) / 0.5);
}
.media-scroller-arrow > i {
   color: hsl(var(--main-color-dark-300));
}
.media-element-content {
   position: absolute;
   inset: 0;
   opacity: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   opacity: 0;
   color: hsl(var(--main-color));
   background-color: hsl(var(--main-color-dark-400) / 0.9);
   transition: all 200ms ease-in-out;
   text-align: center;
}
.media-element-content > button {
   align-self: center;
}
.media-element:hover .media-element-content,
.media-element:focus-within .media-element-content {
   opacity: 1;
}
.media-element-content.visible {
   opacity: 1;
}
.media-element-genre {
   list-style: none;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
}

/* tvshow list section styles */
.filter {
   background-color: hsl(var(--main-color-dark-300));
   width: 100%;
   padding: 1em;
   margin-bottom: 1rem;
   border-radius: var(--border-radius-main);
   display: none;
}
.filter.active {
   display: block;
}
.filter-dropdowns {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap: 2em;
}
.dropdown-toggle {
   align-self: start;
}
.dropdown-content {
   display: flex;
   flex-direction: column;
   padding-inline: 1em;
   border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
   background-color: hsl(var(--main-color-dark-200));
   cursor: pointer;
}
.dropdown-content-top {
   display: flex;
}
.dropdown-content-title {
   max-width: min-content;
}
.dropdown-content-extra {
   max-width: 30ch;
   font-size: 0.8rem;
   color: #aaa;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.dropdown-content-icon {
   margin-left: 2rem;
}
.dropdown-content-icon:hover,
.dropdown-content-icon:focus-within {
   color: hsl(var(--accent-subcolor));
}
.dropdown-list {
   max-height: 40vh;
   padding: 1em;
   margin: 0;

   list-style-type: none;
   background: hsl(var(--main-color-dark-200));
   border-top: 1px solid hsl(var(--color-accent));

   overflow-y: auto;
   display: none;
}
.toggle-genres {
   border-bottom: 1px solid hsl(var(--color-accent));
}
.dropdown-toggle.active .dropdown-list {
   display: block;
   visibility: visible;
}
.filter-dropdowns li > * {
   cursor: pointer;
}
.filter-dropdowns li:hover,
.filter-dropdowns li:focus {
   color: hsl(var(--color-accent));
}
.dropdown-label {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.dropdown-label > input,
.strict-mode-toggler > input {
   display: none;
}
.dropdown-label-check-icon {
   display: none;
   color: hsl(var(--color-accent));
}
.dropdown-label input:checked ~ .dropdown-label-check-icon,
.strict-mode-toggler input:checked ~ .dropdown-label-check-icon {
   display: block;
}
.dropdown-label input:checked + .dropdown-label-text {
   color: hsl(var(--color-accent));
}

.filter-control-btns {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   flex-wrap: wrap;
   gap: 2em;
   padding: 1em;
   margin-top: 2rem;
   border-radius: var(--border-radius-main);
   background-color: hsl(var(--main-color-dark-200));
}
.filter-control-btns > * {
   flex: 1 0 10rem;
   cursor: pointer;
}
.strict-mode-toggler {
   display: flex;
   gap: 0.5rem;
   position: relative;
   max-width: max-content;
   margin-right: 1rem;
   transition: all 200ms ease-in-out;
}
.strict-mode-toggler:hover {
   color: hsl(var(--color-accent));
}
.tooltip {
   position: relative;
   display: inline-block;
}
.tooltipText {
   width: max-content;
   max-width: 45ch;
   padding: 0.5rem;
   margin-bottom: 0.5rem;

   background-color: hsl(var(--main-color-dark-400));
   border-radius: var(--border-radius-main);
   visibility: hidden;
   text-align: center;
   color: hsl(var(--main-color));

   position: absolute;
   left: 50%;
   bottom: 100%;
   z-index: 5;
   transform: translateX(-50%) scale(0);
   transition: all 200ms ease-in;

   cursor: default;
}
.tooltipText::after {
   content: ' ';
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   border-width: 0.5rem;
   border-style: solid;
   border-color: hsl(var(--main-color-dark-400)) transparent transparent transparent;
}
.tooltip-icon {
   transition: all 200ms ease;
}
.tooltip:hover .tooltip-icon {
   color: hsl(var(--accent-subcolor));
}
.tooltip:hover .tooltipText {
   visibility: visible;
   transform: translateX(-50%) scale(1);
}
.strict-mode-toggler label {
   cursor: pointer;
   display: flex;
}
.strict-mode-toggler .dropdown-label-check-icon {
   position: absolute;
   left: 105%;
}
.strict-check-icon {
   display: none;
}
.strict-plus-icon {
   display: block;
}
.strictModeBtn {
   width: 0;
   height: 0;
}
.strictModeBtn:checked + label .strict-plus-icon {
   display: none;
}
.strictModeBtn:checked + label .strict-check-icon {
   display: block;
}
.clear-filter {
   transition: all 200ms ease-in-out;
}
.clear-filter:hover {
   color: hsl(var(--color-accent));
}
.apply-filter {
   max-width: fit-content;
   margin: 0;
}
.filter-elements-list {
   display: grid;
   grid-template-columns: repeat(var(--items-per-screen), 1fr);
   margin-inline: var(--main-spacing);
}
.filter-elements-list .media-element {
   aspect-ratio: 3 / 4;
   padding: var(--main-spacing);
   margin: 0;
   position: relative;
}
.filter-error {
   padding: var(--main-spacing);
   border-radius: var(--border-radius-main);
   background-color: hsl(var(--accent-subcolor));
   color: hsl(var(--main-color-dark-300));
   font-size: var(--fz-subtitles);
}
/* pagination styles */
.filter-pagination {
   position: sticky;
   bottom: 2rem;
   z-index: 9;
}
.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   background: hsl(var(--main-color-dark-300) / 0.7);
   border-radius: var(--border-radius-main);
}
.pagination-arrow {
   width: min-content;
   height: min-content;
   background-color: transparent;
   border: none;
   font-size: var(--fz-subtitles);
   cursor: pointer;
   transition: all 250ms ease;
}
.pagination-arrow-left {
   position: relative;
}
.pagination-list {
   display: flex;
   justify-content: center;
   gap: var(--main-spacing);
   flex-wrap: wrap;
   padding: var(--main-spacing);
}
.pagination-item {
   width: 2rem;
   height: 2rem;
   background-color: hsl(var(--main-color));
   color: hsl(var(--main-color-dark-400));
   cursor: pointer;
   border-radius: 50%;
   transition: background-color 250ms ease;
}
.pagination-item:not(.hide):hover,
.pagination-item:not(.hide):focus {
   background-color: hsl(var(--color-accent));
   color: hsl(var(--main-color));
}
.pagination-arrow:hover {
   color: hsl(var(--accent-subcolor) / 0.8);
}
.pagination-item > span {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: all 250ms ease;
}
.pagination-item > span.active {
   background-color: hsl(var(--color-accent));
   color: hsl(var(--main-color));
}
.hide {
   position: relative;
   background-color: var(--main-color);
   color: transparent;
}
.hide::after {
   content: '•••';
   position: absolute;
   inset: 30% 0 0 0;
   text-align: center;
   background-color: transparent;
   color: hsl(var(--main-color));
   cursor: default;
}
.hide + .hide {
   display: none;
}
/* news section styles */

.news {
   background-color: hsl(var(--main-color-dark-400));
}
.news-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: var(--main-spacing);
}
.news-card {
   display: grid;
   gap: var(--main-spacing);
   position: relative;
}
.news-card-content {
   padding: var(--main-spacing);
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   background-color: hsl(var(--main-color-dark-400));
   transition: background-color 250ms ease-in-out;
}
.news-card:hover .news-card-content,
.news-card:focus .news-card-content {
   background-color: hsl(var(--main-color-dark-300));
}

.news-card-content img {
   width: 100%;
   aspect-ratio: 16 / 9;
   object-fit: cover;
}
.news-card-title {
   margin-top: 0.75rem;
}
.news-card-content-secondary {
   display: flex;
   justify-content: flex-end;
   opacity: 0;
   transition: all 250ms ease-in-out;
}
.news-card:hover .news-card-content-secondary,
.news-card:focus-within .news-card-content-secondary {
   opacity: 1;
}
.news-card-link,
.hero-card-link {
   text-decoration: none;
   position: relative;
   display: inline-block;
   margin-right: 3rem;
   color: hsl(var(--color-accent));
   cursor: pointer;
}
.news-card-link span {
   position: absolute;
   right: -15%;
   transition: all 500ms ease;
}
.news-card:hover .news-card-link span,
.news-card:focus .news-card-link span {
   right: -30%;
}

/* credits section styles */
.credits-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: var(--main-spacing);
   justify-content: space-between;
}
.credits-desc {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.credits-desc-link {
   margin-bottom: auto;
}
.credits-desc-link a {
   text-decoration: none;
   color: hsl(var(--color-accent));
}
.social-links {
   margin-top: var(--main-spacing);
   font-size: 3rem;
}
.social-link {
   color: hsl(var(--color-accent));
   padding-right: var(--main-spacing);
}
.social-link i {
   transition: all 300ms ease-in;
}
.social-link i:hover,
.social-link i:focus {
   transform: scale(1.1);
   color: hsl(var(--accent-subcolor));
}
.contact-form form {
   background-color: hsl(var(--color-accent));
   padding: var(--main-spacing);
   display: flex;
   flex-direction: column;
}
.contact-form label {
   margin-top: var(--main-spacing);
   color: hsl(var(--main-color-dark-400));
   font-weight: 900;
}
.contact-form input,
.contact-form textarea {
   background-color: hsl(var(--main-color-dark-400));
   color: hsl(var(--main-color));
   padding-inline: 1rem;
   border: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
   outline: 2px solid hsl(var(--accent-subcolor));
   outline-offset: -5px;
}
#contact-form-message {
   resize: none;
}
.character-counter {
   display: flex;
   justify-content: flex-end;
   color: hsl(var(--main-color-dark-400));
}
.contact-form-submit {
   background-color: hsl(var(--accent-subcolor));
   color: hsl(var(--main-color-dark-400));
   border: 2px solid hsl(var(--main-color-dark-400));
   font-weight: 900;
   margin-top: 3rem;
   padding-inline: var(--main-spacing);
   align-self: center;
   text-transform: uppercase;
   cursor: pointer;
   transition: transform 300ms ease-in-out;
}
.contact-form-submit:hover {
   transform: scale(1.05);
}
.contact-form-submit:focus {
   outline: 4px solid hsl(var(--main-color-dark-400));
}
.form-error {
   width: 100%;
   padding: 0;

   font-size: 80%;
   color: hsl(var(--main-color-dark-400));
   background-color: hsl(var(--accent-subcolor));
   border-radius: 0 0 5px 5px;
}
.form-error.active {
   padding: 0.25rem;
}
.copyright {
   text-align: center;
   margin-top: 5rem;
}
@media screen and (max-width: 75rem) {
   .nav-list {
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 500ms ease-in-out;
      background-color: hsl(var(--main-color-dark-400));
      font-size: var(--fz-main-title);
   }
   .nav-list.active {
      transform: translateX(0);
      z-index: 100;
      transition: transform 500ms ease-in-out;
   }
   .nav-list > li:nth-child(1) {
      margin: 0;
   }
   .burger-menu {
      display: inline-block;
   }
   .close-nav-btn {
      display: block;
      position: absolute;
      top: 3rem;
      right: 6rem;
   }
}
@media screen and (max-width: 65rem) {
   :root {
      --fz-main-title: 2rem;
      --fz-subtitles: 1.5rem;
      --fz-content: 1.2rem;

      --items-per-screen: 3;
   }
   .logo {
      width: 60%;
   }
   .hero-slider-card {
      grid-template-columns: 1fr;
   }
   .modal-content {
      width: 80%;
      height: 80%;
   }
}
@media screen and (max-width: 40rem) {
   :root {
      --items-per-screen: 2;
   }
   .wrapper {
      width: 90%;
      margin: 0 auto;
   }
   .btn {
      padding: 0.25em;
   }
   .go-up-btn {
      padding: 0.25em 1em;
   }
   .close-nav-btn {
      top: 2rem;
      right: 2rem;
   }
   .filter-elements-list {
      margin-bottom: 2rem;
   }
   .modal-content {
      width: 100%;
      height: 100%;
   }
   .credits-container {
      grid-template-columns: 1fr;
   }
}
@media screen and (max-width: 25rem) {
   :root {
      --items-per-screen: 1;
   }
   .scroller-progress-bar {
      position: absolute;
      bottom: 0;
      right: 0;
   }
}
