/* 
General styles
*/
:root {
   --fz-main-title: 3rem;
   --fz-subtitles: 2rem;
   --fz-content: 1.25rem;

   --main-color: #fff;
   --main-color-dark-100: #555;
   --main-color-dark-200: #333;
   --main-color-dark-300: #111;
   --main-color-dark-400: #000;
   --color-accent: #ffb71c;
   --accent-subcolor: #b88517;

   --scroller-gap: 1em;
   --border-radius-main: 1rem;
}

body,
html {
   min-height: 100vh;
   width: 100%;
   font-family: Poppins, sans-serif;
   color: var(--main-color);
}
body {
   font-size: clamp(1rem, 10vw, 5rem);
   font-size: var(--fz-content);
}
.wrapper {
   width: 80%;
   margin: 0 auto;
   height: 100%;
   position: relative;
}
.section-title {
   font-size: var(--fz-subtitles);
   text-transform: uppercase;
   margin-bottom: 2rem;
}
.c-accent {
   color: var(--color-accent);
}
.bg-accent {
   background-color: var(--color-accent);
}
/* .section-title.inverted {
   color: var(--color-accent);
} */
section {
   padding-block: 2rem;
}
.btn {
   padding: 0.25em 1.5em;
   border: none;
   border-radius: var(--border-radius-main);
   margin-bottom: 1rem;
   transition: 150ms ease-in-out;
   cursor: pointer;
}
.btn:hover,
.btn:focus-within {
   background: var(--accent-subcolor);
   color: var(--main-color);
   transform: scale(0.95);
}

/* 
Header section styles
*/
/* nav */
nav {
   width: 100%;
   background: var(--main-color-dark-400);
   padding: 0;
}
.nav-container {
   display: flex;
   gap: 2rem;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.logo {
   min-width: 10rem;
}
.nav-list {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   gap: 4rem;
}
.nav-list__links {
   text-decoration: none;
   color: var(--main-color);
   transition: all 0.2s ease;
}
.nav-list__links:hover,
.nav-list__links:focus {
   color: var(--color-accent);
   outline: none;
}
.nav-search input {
   max-width: 20ch;
   padding: 0.25rem 1rem;
   border: none;
   border-radius: var(--border-radius-main);
   outline: none;
   background: var(--main-color);
}
.nav-search input:focus-within {
   background: var(--color-accent);
}
/* hero */
.hero {
   padding: 3rem 0;
   background: url(./image/heroBg.jpg) no-repeat;
   background-size: cover;
}
.hero-text {
   margin: 4rem 0;
   color: var(--main-color-dark-400);
   text-align: center;
}
.hero-text h1 {
   font-size: var(--fz-main-title);
}
.hero-slider {
   border-radius: var(--border-radius-main);
   width: 100%;
   min-height: max-content;
   display: flex;
   overflow: hidden;
   color: var(--main-color);
}
.hero-slider-cards {
   display: flex;
   height: 100%;
   width: 100%;
   transition: all 1s ease;
}
.hero-slider-card {
   padding: 1rem;
   background: var(--main-color-dark-400);
   flex: 1 0 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 
main section styles
*/
/* about */
.about {
   background: var(--main-color-dark-400);
   color: var(--main-color);
   position: relative;
   background: url(./image/pexels-tima-miroshnichenko-7991182.jpg) no-repeat;
   background-size: cover;
}
.about::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: linear-gradient(to right, rgb(0 0 0 / 1) 40%, rgba(0 0 0 / 0) 100%);
   z-index: 1;
}
.about-text {
   max-width: 60ch;
   position: relative;
   z-index: 2;
}

/* scroller sections styles */
.scroller-section {
   width: 100%;
   height: 100%;
   background: var(--main-color-dark-400);
   position: relative;
}
.media-scroller {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 23%;
   gap: var(--scroller-gap);

   padding: 0 var(--scroller-gap) var(--scroller-gap);

   overflow-x: auto;
   /* overflow: hidden; */
   overscroll-behavior-inline: contain;
}
.snaps-inline {
   scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
   scroll-snap-align: start;
}
.media-element {
   display: grid;
   grid-template-rows: min-content;
   gap: var(--scroller-gap);
   position: relative;
   padding: var(--scroller-gap);
   background: var(--main-color-dark-300);
   border-radius: var(--border-radius-main);
   cursor: pointer;
}

.media-element > img {
   width: 100%;
   aspect-ratio: 2 / 3;
   object-fit: cover;
}
.media-element-content {
   position: absolute;
   inset: 0 0 100% 0;
   z-index: 2;
   opacity: 0;

   padding: var(--scroller-gap);
   color: var(--main-color-dark-400);
   background-color: var(--color-accent);
   transition: all 200ms ease-in-out;
}
.media-element:hover .media-element-content {
   opacity: 1;
   inset: 0;
}
.media-scroller-arrow {
   padding: 0;
   margin: 0;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;

   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 5;

   font-size: 2em;

   pointer-events: all;

   transition: color 0.1s ease-in;
}
.media-scroller-arrow:hover {
   color: var(--accent-subcolor);
}
.media-scroller-arrow.right {
   right: 1rem;
}
.media-scroller-arrow.left {
   left: 1rem;
}

/* tvshow list section styles */
.tv-show-list {
   background-color: var(--main-color-dark-400);
}
.filter {
   background-color: var(--main-color-dark-300);
   width: 100%;
   padding: 1em;
   margin-bottom: 1rem;
   border-radius: var(--border-radius-main);
   display: none;
}
.filter.active {
   display: block;
}
.filter-dropdowns {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap: 2em;
}
.dropdown-content {
   display: flex;
   flex-direction: column;
   padding-inline: 1em;
   border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
   background-color: var(--main-color-dark-200);
   cursor: pointer;
}
.dropdown-content-top {
   display: flex;
}
.dropdown-content-title {
   max-width: min-content;
}
.dropdown-content-extra {
   max-width: 30ch;
   font-size: 0.8rem;
   color: #aaa;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.dropdown-content-icon {
   margin-left: 2rem;
}
.dropdown-content-icon:hover,
.dropdown-content-icon:focus-within {
   color: var(--accent-subcolor);
}
.dropdown-list {
   max-height: 40vh;
   padding: 1em;
   margin: 0;

   list-style-type: none;
   background: var(--main-color-dark-200);
   border-top: 1px solid var(--color-accent);

   overflow-y: auto;
   display: none;
}
.dropdown-list.active {
   display: block;
   visibility: visible;
}
.filter-dropdowns li > * {
   cursor: pointer;
}
.filter-dropdowns li:hover,
.filter-dropdowns li:focus {
   color: var(--color-accent);
}
.dropdown-label {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.dropdown-label > input,
.strict-mode-toggler > input {
   display: none;
}
.dropdown-label-check-icon {
   display: none;
}
.dropdown-label input:checked ~ .dropdown-label-check-icon,
.strict-mode-toggler input:checked ~ .dropdown-label-check-icon {
   display: block;
}
.dropdown-label input:checked + .dropdown-label-text {
   color: var(--color-accent);
}

.filter-control-btns {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   flex-wrap: wrap;
   gap: 2em;
   padding: 1em;
   margin-top: 2rem;
   border-radius: var(--border-radius-main);
   background-color: var(--main-color-dark-200);
}
.filter-control-btns > * {
   flex: 1 0 10rem;
   cursor: pointer;
}
.strict-mode-toggler {
   display: flex;
   gap: 0.5rem;
   position: relative;
   max-width: max-content;
   margin-right: 1rem;
}
.strict-mode-toggler label {
   cursor: pointer;
}
.strict-mode-toggler .dropdown-label-check-icon {
   position: absolute;
   left: 105%;
}
.strict-plus-icon {
   display: block;
}
.strict-mode-toggler input:checked ~ .strict-plus-icon {
   display: none;
}
.apply-filter {
   max-width: fit-content;
   margin: 0;
}
.filter-cards-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap: var(--scroller-gap);

   padding: var(--scroller-gap);
   border-radius: var(--border-radius-main);
   background: var(--main-color-dark-300);
}
.filter-card {
   display: grid;
   grid-template-rows: min-content;
   justify-content: center;
   gap: var(--scroller-gap);
   position: relative;
   padding: var(--scroller-gap);
   background: var(--main-color-dark-200);
   border-radius: var(--border-radius-main);
   cursor: pointer;
}

.filter-card > img {
   width: 100%;
   aspect-ratio: 2 / 3;
   object-fit: cover;
}
.filter-card-content {
   position: absolute;
   inset: 0 0 100% 0;
   z-index: 2;
   opacity: 0;

   padding: var(--scroller-gap);
   color: var(--main-color-dark-400);
   background-color: var(--color-accent);
   transition: all 200ms ease-in-out;
}
.filter-card:hover .filter-card-content {
   opacity: 1;
   inset: 0;
}
/* news section styles */
.news {
   min-height: 200vh;
}
