@font-face {
   font-family: 'Mummy';
   src: url(./fonts/Gloomy\ Mummy.ttf);
}
@font-face {
   font-family: 'Rondalo';
   src: url(./fonts/RONDALO_.TTF);
}
/* 
General styles
*/
:root {
   --fz-main-title: 3rem;
   --fz-subtitles: 2rem;
   --fz-content: 1.35rem;

   --main-color: 0 0% 100%;
   --main-color-dark-100: 0 0% 30%;
   --main-color-dark-200: 0 0% 20%;
   --main-color-dark-300: 0 0% 5%;
   --main-color-dark-400: 0 0% 0%;
   --color-accent: 36 100% 60%;
   --accent-subcolor: 24 100% 60%;

   --main-spacing: 1em;
   --border-radius-main: 1rem;
}
body,
html {
   min-height: 100vh;
   width: 100%;
   font-family: 'Rondalo', sans-serif;
   color: hsl(var(--main-color));
   scroll-behavior: smooth;
}
html.behavior-instant {
   scroll-behavior: auto;
}
body {
   font-size: clamp(1rem, 10vw, 5rem);
   font-size: var(--fz-content);
}
h1,
h2 {
   font-family: 'Mummy', serif;
}
h3,
h4,
h5,
h6 {
   font-family: 'Rondalo', sans-serif;
}
.wrapper {
   width: min(80%, 100rem);
   margin: 0 auto;
   height: 100%;
   position: relative;
}
.section-title {
   font-size: var(--fz-subtitles);
   text-transform: uppercase;
   margin-bottom: 2rem;
}
.c-gradient {
   background-image: linear-gradient(
      45deg,
      hsl(var(--color-accent)),
      hsl(var(--accent-subcolor)) 30%
   );
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}
.c-accent {
   color: hsl(var(--color-accent));
}
.c-subaccent {
   color: hsl(var(--accent-subcolor));
}
.bg-gradient {
   background-image: linear-gradient(45deg, hsl(var(--color-accent)), hsl(var(--accent-subcolor)));
}
.bg-accent {
   background-color: hsl(var(--color-accent));
}
section {
   padding-block: 2rem;
   background-color: hsl(var(--main-color-dark-400));
}
.btn {
   padding: 0.25em 1.5em;
   border: none;
   border-radius: var(--border-radius-main);
   margin-bottom: 1rem;
   transition: 150ms ease-in-out;
   cursor: pointer;
   background-color: hsl(var(--main-color));
}
.btn:hover,
.btn:focus-within {
   transform: scale(0.95);
   background-color: hsl(var(--color-accent));
}

/* 
Header section styles
*/
/* nav */
nav {
   width: 100%;
   background: hsl(var(--main-color-dark-400));
   padding: 0;
   position: relative;
   z-index: 800;
}
.nav-container {
   display: flex;
   gap: 2rem;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.logo {
   min-width: 10rem;
}
.nav-list {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   gap: 4rem;
}
.nav-list > li:nth-child(1) {
   margin-left: auto;
}
.nav-list__links {
   text-decoration: none;
   color: hsl(var(--main-color));
   transition: all 0.2s ease;
}
.nav-list__links:hover,
.nav-list__links:focus {
   color: hsl(var(--color-accent));
   outline: hsl(var(--color-accent));
}

/* hero */
.hero {
   padding: 3rem 0;
   background: linear-gradient(
         45deg,
         hsl(var(--color-accent) / 0.8),
         hsl(var(--accent-subcolor) / 0.8)
      ),
      url(./image/heroBg.jpg);
   background-size: cover;
   position: relative;
   z-index: 2;
}
.hero-text {
   margin: 4rem 0;
   color: hsl(var(--main-color-dark-400));
   text-align: center;
}
.hero-text h1 {
   font-size: var(--fz-main-title);
}
.hero-slider {
   border-radius: var(--border-radius-main);
   width: 100%;
   min-height: max-content;
   display: flex;
   overflow: hidden;
   color: hsl(var(--main-color));
}
.hero-slider-cards {
   display: flex;
   gap: var(--main-spacing);
   height: 100%;
   width: 100%;
   transition: all 1s ease;
}
.hero-slider-card {
   height: fit-content;
   padding: 1rem;
   background: hsl(var(--main-color-dark-400));
   border-radius: var(--border-radius-main);
   flex: 1 0 100%;
   display: grid;
   gap: var(--main-spacing);
   grid-template-columns: 1fr 1fr;
}
.promo-slide {
   text-align: center;
   grid-column: 1 / -1;
}
.hero-slider-card > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.hero-card-text > *:not(:last-child) {
   margin-bottom: var(--main-spacing);
}
.hero-card-link span {
   position: absolute;
   right: -30%;
}
/* 
main section styles
*/
/* about */
.about {
   background: hsl(var(--main-color-dark-400));
   color: hsl(var(--main-color));
   position: relative;
   background: url(./image/sectionAboutBg.jpg) no-repeat;
   background-size: cover;
}
.about::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: linear-gradient(
      to right,
      hsl(var(--main-color-dark-400) / 1) 40%,
      hsl(var(--main-color-dark-200) / 0) 100%
   );
   z-index: 1;
}
.about-text {
   max-width: 60ch;
   position: relative;
   z-index: 2;
}
/* go up btn */
.go-up-btn-container {
   position: absolute;
   inset: 0;
   z-index: 1;
   pointer-events: all;
}
.go-up-btn {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   background-color: hsl(var(--color-accent));
   padding: 1rem;
   opacity: 0;
   transition: opacity 300ms ease-in-out;
   z-index: 9999;
}
.go-up-btn.active {
   opacity: 1;
}
.go-up-btn:hover,
.go-up-btn:focus-within {
   background-color: hsl(var(--accent-subcolor));
}
/* modal */
.modal {
   position: fixed;
   overflow: hidden;
   background-image: linear-gradient(
      45deg,
      hsl(var(--color-accent) / 0.8),
      hsl(var(--accent-subcolor) / 0.8)
   );
   width: 100%;
   padding-block: var(--main-spacing);
   inset: 0;
   opacity: 0;
   transition: all 550ms ease-in-out;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   pointer-events: none;
}
.modal.visible {
   opacity: 1;
   pointer-events: all;
}
.modal.visible .modal-content {
   transform: scale(1);
}
.modal-content {
   max-width: 1500px;
   width: 60%;
   max-height: 100%;
   height: fit-content;
   padding: var(--main-spacing);

   background-color: hsl(var(--main-color-dark-400));
   transform: scale(0);
   transition: all 550ms ease-in-out;
   overflow-y: auto;
}
.modal-content-container {
   display: grid;
   grid-template-columns: 30% 70%;
   gap: var(--main-spacing);
   position: relative;
}
.modal-content-primary > img {
   width: 100%;
}
.tvRate {
   font-size: 1.5rem;
}
.modal-content-secondary {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.modal-content-third {
   grid-column: 1 / span 2;
   max-width: 45ch;
}
.modal-content-close-btn {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
}
.modal-close-icon {
   position: sticky;
   top: 0;
   z-index: 10;
   pointer-events: all;
   font-size: var(--fz-subtitles);
   cursor: pointer;
}
body.modal-opened {
   height: 100vh;
   overflow-y: hidden;
   padding-right: 17px;
}

/* scroller sections styles */
.scroller-section {
   width: 100%;
   height: 100%;
   position: relative;
}
.media-scroller {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 23%;
   gap: var(--main-spacing);
   padding: var(--main-spacing);

   overflow-x: auto;
   overflow-y: hidden;
   /* overflow: hidden; */
   overscroll-behavior-inline: contain;
}

.snaps-inline {
   scroll-snap-type: inline mandatory;
   scroll-behavior: smooth;
}
.snaps-inline > * {
   scroll-snap-align: start;
   scroll-margin-left: var(--main-spacing);
}
.media-element {
   display: grid;
   grid-template-rows: min-content;
   gap: var(--main-spacing);
   position: relative;
   padding: var(--main-spacing);
   background: hsl(var(--main-color-dark-300) / 0.7);
   cursor: pointer;
   transition: all 200ms ease-in-out;

   border-radius: var(--border-radius-main);
}
.media-element > img {
   width: 100%;
   aspect-ratio: 2 / 3;
   object-fit: cover;
}
.media-element-title {
   line-height: 1.1;
   max-width: 10ch;
}
.media-element-content {
   padding: var(--main-spacing);
   text-align: center;
   position: absolute;
   inset: 0 0 0 0;
   z-index: 2;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   opacity: 0;
   color: hsl(var(--main-color));
   background-color: rgba(0 0 0 / 0.9);
   border-radius: var(--border-radius-main);
   transition: all 200ms ease-in-out;
}
.media-element-content > button {
   align-self: center;
}
.media-element:hover {
   transform: scale(0.95);
}
.media-element:hover .media-element-content,
.media-element:focus-within .media-element-content {
   opacity: 1;
}
.media-element-content.visible {
   opacity: 1;
}
.media-element-genre {
   list-style: none;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
}
.media-scroller-arrow {
   padding: 0;
   margin: 0;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;

   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 5;

   font-size: 2em;

   pointer-events: all;

   transition: color 0.1s ease-in;
}
.media-scroller-arrow:hover {
   color: hsl(var(--accent-subcolor));
}
.media-scroller-arrow.right {
   right: 1rem;
}
.media-scroller-arrow.left {
   left: 1rem;
}

/* tvshow list section styles */
.filter {
   background-color: hsl(var(--main-color-dark-300));
   width: 100%;
   padding: 1em;
   margin-bottom: 1rem;
   border-radius: var(--border-radius-main);
   display: none;
}
.filter.active {
   display: block;
}
.filter-dropdowns {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap: 2em;
}
.dropdown-toggle {
   align-self: start;
}
.dropdown-content {
   display: flex;
   flex-direction: column;
   padding-inline: 1em;
   border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
   background-color: hsl(var(--main-color-dark-200));
   cursor: pointer;
}
.dropdown-content-top {
   display: flex;
}
.dropdown-content-title {
   max-width: min-content;
}
.dropdown-content-extra {
   max-width: 30ch;
   font-size: 0.8rem;
   color: #aaa;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.dropdown-content-icon {
   margin-left: 2rem;
}
.dropdown-content-icon:hover,
.dropdown-content-icon:focus-within {
   color: hsl(var(--accent-subcolor));
}
.dropdown-list {
   max-height: 40vh;
   padding: 1em;
   margin: 0;

   list-style-type: none;
   background: hsl(var(--main-color-dark-200));
   border-top: 1px solid hsl(var(--color-accent));

   overflow-y: auto;
   display: none;
}
.toggle-genres {
   border-bottom: 1px solid hsl(var(--color-accent));
}
.dropdown-toggle.active .dropdown-list {
   display: block;
   visibility: visible;
}
.filter-dropdowns li > * {
   cursor: pointer;
}
.filter-dropdowns li:hover,
.filter-dropdowns li:focus {
   color: hsl(var(--color-accent));
}
.dropdown-label {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.dropdown-label > input,
.strict-mode-toggler > input {
   display: none;
}
.dropdown-label-check-icon {
   display: none;
   color: hsl(var(--color-accent));
}
.dropdown-label input:checked ~ .dropdown-label-check-icon,
.strict-mode-toggler input:checked ~ .dropdown-label-check-icon {
   display: block;
}
.dropdown-label input:checked + .dropdown-label-text {
   color: hsl(var(--color-accent));
}

.filter-control-btns {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   flex-wrap: wrap;
   gap: 2em;
   padding: 1em;
   margin-top: 2rem;
   border-radius: var(--border-radius-main);
   background-color: hsl(var(--main-color-dark-200));
}
.filter-control-btns > * {
   flex: 1 0 10rem;
   cursor: pointer;
}
.strict-mode-toggler {
   display: flex;
   gap: 0.5rem;
   position: relative;
   max-width: max-content;
   margin-right: 1rem;
   transition: all 200ms ease-in-out;
}
.strict-mode-toggler:hover {
   color: hsl(var(--color-accent));
}
.tooltip {
   position: relative;
   display: inline-block;
}
.tooltipText {
   width: max-content;
   max-width: 45ch;
   padding: 0.5rem;
   margin-bottom: 0.5rem;

   background-color: hsl(var(--main-color-dark-400));
   border-radius: var(--border-radius-main);
   visibility: hidden;
   text-align: center;
   color: hsl(var(--main-color));

   position: absolute;
   left: 50%;
   bottom: 100%;
   z-index: 5;
   transform: translateX(-50%) scale(0);
   transition: all 200ms ease-in;

   cursor: default;
}
.tooltipText::after {
   content: ' ';
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   border-width: 0.5rem;
   border-style: solid;
   border-color: hsl(var(--main-color-dark-400)) transparent transparent transparent;
}
.tooltip-icon {
   transition: all 200ms ease;
}
.tooltip:hover .tooltip-icon {
   color: hsl(var(--accent-subcolor));
}
.tooltip:hover .tooltipText {
   visibility: visible;
   transform: translateX(-50%) scale(1);
}
.strict-mode-toggler label {
   cursor: pointer;
   display: flex;
}
.strict-mode-toggler .dropdown-label-check-icon {
   position: absolute;
   left: 105%;
}
.strict-check-icon {
   display: none;
}
.strict-plus-icon {
   display: block;
}
.strictModeBtn:checked + label .strict-plus-icon {
   display: none;
}
.strictModeBtn:checked + label .strict-check-icon {
   display: block;
}
.clear-filter {
   transition: all 200ms ease-in-out;
}
.clear-filter:hover {
   color: hsl(var(--color-accent));
}
.apply-filter {
   max-width: fit-content;
   margin: 0;
}
.filter-elements-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
   gap: var(--main-spacing);
   justify-content: flex-start;
   padding: var(--main-spacing);
   border-radius: var(--border-radius-main);
}
.filter-error {
   padding: var(--main-spacing);
   border-radius: var(--border-radius-main);
   background-color: hsl(var(--accent-subcolor));
   color: hsl(var(--main-color-dark-300));
   font-size: var(--fz-subtitles);
}
/* pagination styles */
.filter-pagination {
   position: sticky;
   bottom: 2rem;
   z-index: 9;
}
.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   background: hsl(var(--main-color-dark-300) / 0.7);
   border-radius: var(--border-radius-main);
}
.pagination-arrow {
   width: min-content;
   height: min-content;
   background-color: transparent;
   border: none;
   font-size: var(--fz-subtitles);
   cursor: pointer;
   transition: all 250ms ease;
}
.pagination-arrow-left {
   position: relative;
}
.pagination-list {
   display: flex;
   justify-content: center;
   gap: var(--main-spacing);
   flex-wrap: wrap;
   padding: var(--main-spacing);
}
.pagination-item {
   width: 2rem;
   height: 2rem;
   background-color: hsl(var(--main-color));
   color: hsl(var(--main-color-dark-400));
   cursor: pointer;
   border-radius: 50%;
   transition: background-color 250ms ease;
}
.pagination-item:not(.hide):hover,
.pagination-item:not(.hide):focus {
   background-color: hsl(var(--color-accent));
   color: hsl(var(--main-color));
}
.pagination-arrow:hover {
   color: hsl(var(--accent-subcolor) / 0.8);
}
.pagination-item > span {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: all 250ms ease;
}
.pagination-item > span.active {
   background-color: hsl(var(--color-accent));
   color: hsl(var(--main-color));
}
.hide {
   position: relative;
   background-color: var(--main-color);
   color: transparent;
}
.hide::after {
   content: '•••';
   position: absolute;
   inset: 30% 0 0 0;
   text-align: center;
   background-color: transparent;
   color: hsl(var(--main-color));
   cursor: default;
}
.hide + .hide {
   display: none;
}
/* news section styles */

.news {
   background-color: hsl(var(--main-color-dark-400));
}
.news-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: var(--main-spacing);
}
.news-card {
   display: grid;
   /* grid-template-rows: min-content; */
   gap: var(--main-spacing);
   position: relative;
   padding: var(--main-spacing);
}
.news-card-content {
   padding: var(--main-spacing);
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   background-color: hsl(var(--main-color-dark-400));
   transition: background-color 250ms ease-in-out;
}
.news-card:hover .news-card-content,
.news-card:focus .news-card-content {
   background-color: hsl(var(--main-color-dark-300));
}

.news-card-content img {
   width: 100%;
   aspect-ratio: 16 / 9;
   object-fit: cover;
}
.news-card-title {
   margin-top: 0.75rem;
}
.news-card-content-secondary {
   display: flex;
   justify-content: flex-end;
   opacity: 0;
   transition: all 250ms ease-in-out;
}
.news-card:hover .news-card-content-secondary,
.news-card:focus-within .news-card-content-secondary {
   opacity: 1;
}
.news-card-link,
.hero-card-link {
   text-decoration: none;
   position: relative;
   display: inline-block;
   margin-right: 3rem;
   color: hsl(var(--color-accent));
   cursor: pointer;
}
.news-card-link span {
   position: absolute;
   right: -15%;
   transition: all 500ms ease;
}
.news-card:hover .news-card-link span,
.news-card:focus .news-card-link span {
   right: -30%;
}

@media screen and (max-width: 700px) {
   .media-scroller {
      padding: 0;
      grid-auto-columns: 45%;
   }
   .media-element {
      padding: 0;
      text-align: center;
   }
}
